


.headingclass {grid-area:header;}
.menuclass {grid-area:menu; }
.mainclass {grid-area:main; }
.rightclass {grid-area:right; }
.footerclass {grid-area:footer; }
.grid-container {
display: grid;
grid-template:
'header header header header header header'
'menu main main main right right'
'menu footer footer footer footer footer';

grid-gap: 10px;
background-color:rgb(88, 110, 197);
padding: 10px;


.column {
    float: left;
    width: 33.33%;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display:column;
    clear: both;
  }
{
h1 {
  color: blue;
}


}
.grid-container > div {
background-color: rgb(10, 144, 233);
text-align:center;
padding:20px 0;
 font-style: normal;

}

.floated_img
{
    float: left;
}
