.headingclass {grid-area:header;}
.menuclass {grid-area:menu; }
.mainclass {grid-area:main; }
.rightclass {grid-area:right; }
.footerclass {grid-area:footer; }
.grid-container {
display: grid;
grid-template:
'header header header header header header'
'menu main main main right right'
'menu footer footer footer footer footer';
grid-gap: 10px;
background-color:rgb(139, 89, 162);
padding: 10px;

}
.grid-container > div {
background-color: rgb(10, 144, 233);
text-align:center;
padding:20px 0;
 font-style: normal;

}

.floated_img
{
    float: left;
}
